<!DOCTYPE html>
<html style = 'background-color:rgb({{r}},{{g}},{{b}})'>
    <head>
        <meta charset="utf-8">
        <title>Color Picker</title>
    </head>
    <body>
        <h1>Enter your color values below:</h1>
        <form class="" action="/" method="post">
            Red: <input type="text" name="red" value="">
            Green: <input type="text" name="green" value="">
            Blue: <input type="text" name="blue" value="">
            * All values must be between 1 and 255
            <button type="submit" name="button">Show my color!</button>
        </form>
    </body>
</html>
